body{
    background-color:antiquewhite;
}

div.poster{
    background-color:rgb(248, 129, 129);
    width:75%;
    margin-left:auto;
    margin-right:auto;
}
/* 1 col grid */

div.container {
    display:flex;
    flex-wrap:wrap;
}

div.col {
    outline:1px solid white;
    width:55%;
    overflow:hidden;
}
div.logo {
    font-size:50px;
}


div.w1-4 {
    width:25%;
}

div.w2-4 {
    width:50%;
}

div.w3-4 {
    width:75%;
}

div.w4-4 {
    width:100%;
}

div.small {
    text-align: center;
    font-size: 30px;
    font-family: Helvetica;
    color:burlywood;
}

div.text {
    font-size:120px;
    font-family:'Courier New', Courier, monospace;
    text-align:center;
    color:white;
    transition:0.5s;
}

span.text {
    transition:0.5s;
}
/* rule 1 */

div.text.one {
    font-size:30px;
}
div.text.two {
    font-size:60px;
}
div.text.three {
    font-size:180px;
}

/* span text boxes rule 1 */

span.text.one {
    font-size:30px;
}
span.text.two {
    font-size:60px;
}
span.text.three {
    font-size:180px;
}

/* rule 2 */

/* div text boxes rule 2 */

div.text.A {
    color:rgb(233, 227, 144);
}
div.text.B {
    color:rgb(104, 104, 177);
}
div.text.C {
    color:rgb(125, 197, 125);
}

/* span text boxes rule 2 */

span.text.A {
    color:rgb(233, 227, 144);
}
span.text.B {
    color:rgb(104, 104, 177);
}
span.text.C {
    color:rgb(125, 197, 125);
}



/* rule 3 */

div.text.X {
    text-align:right;
}
div.text.Y {
    text-align:left;
}
div.text.Z {
    text-align:center;
}

/* span text boxes rule 3 */

span.text.X {
    text-align:right;
}
span.text.Y {
    text-align:left;
}
span.text.Z {
    text-align:center;
}